# Dragos Bercea <Dragos@Dragoss-MacBook-Pro.local>
# Dragos Bercea <berceadrag@citron.ecs.vuw.ac.nz>
# Dragos Bercea <berceadrag@petit-lyon.ecs.vuw.ac.nz>
# Dragos Bercea <berceadrag@ecs.vuw.ac.nz>
Dragos Bercea <Dragos.Bercea@ecs.vuw.ac.nz>    <berceadrag@petit-lyon.ecs.vuw.ac.nz>
Dragos Bercea <Dragos.Bercea@ecs.vuw.ac.nz>    <berceadrag@citron.ecs.vuw.ac.nz>
Dragos Bercea <Dragos.Bercea@ecs.vuw.ac.nz>    <Dragos@Dragoss-MacBook-Pro.local>
Dragos Bercea <Dragos.Bercea@ecs.vuw.ac.nz>    <berceadrag@ecs.vuw.ac.nz>

# Edward Kelly <ed7kelly@gmail.com>
# Edward Kelly <kellyedwa@icon.ecs.vuw.ac.nz>
# Edward Kelly <kellyedwa@ecs.vuw.ac.nz>
Edward Kelly <Edward.Kelly@ecs.vuw.ac.nz>    <kellyedwa@icon.ecs.vuw.ac.nz>
Edward Kelly <Edward.Kelly@ecs.vuw.ac.nz>    <ed7kelly@gmail.com>
Edward Kelly <Edward.Kelly@ecs.vuw.ac.nz>    <kellyedwa@ecs.vuw.ac.nz>

# Hamish Meikle <hamishmeikle@Hamishs-MacBook-Air.local>
# Hamish Meikle <hwhmeikle@hotmail.com>
# Hamish Meikle <meiklehami1@ecs.vuw.ac.nz>
# Hamish Meikle <meiklehami1@ecs.vuw.ac.nz>
Hamish Meikle <Hamish.Meikle@ecs.vuw.ac.nz>    <hamishmeikle@Hamishs-MacBook-Air.local>
Hamish Meikle <Hamish.Meikle@ecs.vuw.ac.nz>    <hwhmeikle@hotmail.com>
Hamish Meikle <Hamish.Meikle@ecs.vuw.ac.nz>    <meiklehami1@ecs.vuw.ac.nz>

# John Barrenechea <john.barrenechea@ecs.vuw.ac.nz>
# No entry needed for John :-)

# Paul Caygill <caygilpaul@old-bailey.ecs.vuw.ac.nz>
# Paul Caygill <pal98popsi@gmail.com>
# Paul Caygill <pfcaygill@gmail.com>
# Paul Caygill <caygilpaul@ecs.vuw.ac.nz>
Paul Caygill <Paul.Caygill@ecs.vuw.ac.nz>    <caygilpaul@old-bailey.ecs.vuw.ac.nz>
Paul Caygill <Paul.Caygill@ecs.vuw.ac.nz>    <pal98popsi@gmail.com>
Paul Caygill <Paul.Caygill@ecs.vuw.ac.nz>    <pfcaygill@gmail.com>
Paul Caygill <Paul.Caygill@ecs.vuw.ac.nz>    <caygilpaul@ecs.vuw.ac.nz>

# Sami Habib <puggsoy@gmail.com>
# Sami Habib <puggsoy@gmail.com>
Sami Habib <Sami.Habib@ecs.vuw.ac.nz>    <puggsoy@gmail.com>
Sami Habib <Sami.Habib@ecs.vuw.ac.nz>    <puggsoy@gmail.com>
