<!DOCTYPE html>
<html>
<head>
	<title>Whiti - Create Event</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_event/create_event.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu/menu.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>


<body>
<header>
		<div class="desktop-header">
			<div class="desktop-header-inner">
				<div class="desktop-header-logo">
					<a href="index.html">
						Whiti
					</a>
				</div>
				<ul class="desktop-header-nav">
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="news.html">News</a>
						</li>
						<li>
							<a href="feedback.html">Feedback</a>
							</li>
						<li>
							<a href="help.html">Help & Support</a>
						</li>
				</ul>
				<ul class="desktop-header-nav-right">
					<li>
						<a href="create_event.html">Create an event</a>
					</li>
				</ul>

			</div>
		</div>
		<!-- The Drop down menu, that will appear on smaller screens: -->
		<div class = "mobile-menu">
			<div class = "mobile-menu-inner">
				<div class = "mobile-menu-hamburger">
					<button id = "dropClick">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="mobile-menu-logo">
					<a href="index.html">
					W
					</a>
				</div>
			</div>
			<div class>
				<ul id = "menuItems" class = "mobile-menu-content">
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="feedback.html">Feedback</a>
					</li>
					<li>
						<a href="help.html">Help & Support</a>
					</li>
					<li>
						<a href="create_event.html">Create an event</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
<!-- ****************************************************************** -->

<!-- The html for this unique page begins here: -->

<!-- The title of the create event page:-->
<p class = "title-text" id="title"> Create an Event </p>

<div id="eventDetails">
<!-- The input field where users will enter their event name:-->
<div>
<input id="eventName" type="text" class = "event-name" placeholder="Enter an event name">
</div>

<!-- The input field where users can enter an event code:-->
<div>
<input id="eventCode" type="text" class = "event-name" placeholder="Enter an event code (optional)">
</div>

<!-- The text area where users will enter their event description:-->
<div>
<textarea id="description" class = "description" placeholder= "Describe your event (optional)"></textarea>
</div>

<div>
	<!-- Please note: the id is only here for js functionality -->
	<button id = "submit" class = "submit-button"> Create Event </button>
</div>
</div>

<!-- For java script: -->
<script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_event.js') }}"></script>
<script src="{{ url_for('static', filename='js/client_message_handler.js') }}"></script>


</body>

</html>
