<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Whiti - Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event/event.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu/menu.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>a
  <body>
    <header>
		<div class="desktop-header">
			<div class="desktop-header-inner">
				<div class="desktop-header-logo">
					<a href="index.html">
						Whiti
					</a>
				</div>
				<ul class="desktop-header-nav">
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="news.html">News</a>
						</li>
						<li>
							<a href="feedback.html">Feedback</a>
							</li>
						<li>
							<a href="help.html">Help & Support</a>
						</li>
				</ul>
				<ul class="desktop-header-nav-right">
					<li>
						<a href="create_event.html">Create an event</a>
					</li>
				</ul>

			</div>
		</div>
		<!-- The Drop down menu, that will appear on smaller screens: -->
		<div class = "mobile-menu">
			<div class = "mobile-menu-inner">
				<div class = "mobile-menu-hamburger">
					<button id = "dropClick">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="mobile-menu-logo">
					<a href="index.html">
					W
					</a>
				</div>
			</div>
			<div class>
				<ul id = "menuItems" class = "mobile-menu-content">
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="feedback.html">Feedback</a>
					</li>
					<li>
						<a href="help.html">Help & Support</a>
					</li>
					<li>
						<a href="create_event.html">Create an event</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class = "site-content">
	    <h1>Event Name</h1>
	    <div class="event-section">
	      <h2>You're ready to go!</h2>
	      <p class="event-description"> You are now setup to start interpreting
          the event. Press play when you're ready, and your voice will reach
          the listeners.
	          </p>
	      <!-- <video autoplay></video> -->
	    </div>

    <div class="media-bar">
      <p class="media-bar-info">Press play when you are ready</p>

      <!-- Dummy GUI values for audio control-->
      <div class = "audio-buttons">
	      <button id = "play" class = "audio-button-play"></button>
	      <button id = "pause" class = "audio-button-pause"></button>
	      <button id = "stop" class = "audio-button-stop"></button>
      </div>
    </div>
</div>


 <script src="{{ url_for('static', filename='js/event.js') }}"></script>  </body>
</html>
